*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 850px;
  padding: 2rem 2rem 2rem;
}

p {
  font-size: 1rem;
}

header {
  align-items: center;
  display: flex;
}

header img {
  height: 4rem;
  margin-right: 0.7rem;
}

footer {
  margin-top: 7rem;
  text-align: center;
}

footer a {
  color: #777;
}

footer a:hover {
  color: black;
}

footer svg {
  height: auto;
  width: 2rem;
}

.header-hidden {
  display: none;
}

.chart {
  margin-top: 3rem;
}

.chart-content {
  align-items: stretch;
  display: flex;
  height: 10rem;
}

.datapoint {
  flex: 1 1;
  margin: 0 0.1rem;
  position: relative;
}

.bar-group {
  height: 100%;
  position: relative;
}

.bar {
  border-radius: 0.1rem;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  /*flex: 1 1;
  margin: 0 0.1rem;
  position: relative;*/
}

.bar.measurement {
  background: steelblue;
}

.bar.warning {
  background: darkred;
}

.bar.forecast {
  background: grey;
}

.bar.forecast.warning {
  background: rosybrown;
}

.bar.measurement:hover {
  background: lightblue;
}

.bar.warning:hover {
  background: pink;
}

.bar.forecast:hover {
  background: lightgrey;
}

.bar.forecast.warning:hover {
  background: mistyrose;
}

.tick-x {
  bottom: 0;
  display: none;
  left: 50%;
  position: absolute;
  transform: translate(-50%, calc(100% + 0.5rem));
}

.datapoint:nth-child(6n+2) .tick-x {
  display: initial;
}

.tooltip {
  background: #222;
  border-radius: 0.1rem;
  color: #fefefe;
  display: none;
  font-size: 0.75rem;
  left: 50%;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: 0;
  transform: translate(-50%, calc(-100% - 0.5rem));
  z-index: 10;
}

.tooltip span {
  display: block;
  text-align: center;
}

.tooltip .timestamp {
  white-space: nowrap;
}

.bar:hover .tooltip {
  display: block;
}

.axis-y {
  height: 100%;
  margin-right: 0.5rem;
  position: relative;
  width: 1.5rem;
}

.tick-y {
  position: absolute;
  text-align: right;
  transform: translate(0, 50%);
  width: 100%;
}

.tick {
  font-size: 0.75rem;
}
